:root {
  --primary-color: #00adef;
  --primary-color-hover: #0091c9;
  --primary-color-active: #007aa9;
  --secondary-color: #12a844;
  --secondary-color-hover: #0f8a2d;
  --secondary-color-active: #0c6c32;
  --destructive-color: #ec311c;
  --destructive-color-hover: #d42a17;
  --destructive-color-active: #b31a08;
  --border-color: #b5beda;
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --background-transparent: #d7dae21c;
}

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.auth-container {
  display: flex;
  height: 100vh;
}

.auth-container main {
  display: flex;
  max-width: calc(100% - 500px);
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.banner-container {
  animation: pulse 2s infinite;
}

.banner-container img {
  width: 500px;
  object-fit: cover;
}

.banner-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.banner-container div h1 {
  font-size: 4.5rem;
  font-weight: 900;
}

.banner-container div h1:first-child {
  color: var(--primary-color);
}

.auth-container aside {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--border-color);
}

.form-container {
  width: 400px;
}

.form-container h3 {
  font-size: 1.6rem;
}

.form-container span {
  color: var(--text-color-active);
}

.form-container span a {
  color: var(--primary-color);
  font-weight: 600;
  transition: color 0.3s;
}

.form-container span a:hover {
  color: var(--primary-color-hover);
}

.form-container span a:active {
  color: var(--primary-color-active);
}

.form-container form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-size: small;
  font-weight: 600;
}

.form-control {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  outline: none;
  font-size: medium;
  transition: border 0.3s;
}

.form-control:focus {
  border-color: var(--primary-color);
}

#button-submit {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  padding: 8px 12px;
  transition: background 0.3s;
}

#button-submit:hover {
  background-color: var(--primary-color-hover);
}

#button-submit:active {
  background-color: var(--primary-color-active);
}

#button-submit:focus {
  outline: 1px solid var(--primary-color);
}
