<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entrar | Job Finder</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="auth-container">
      <main>
        <div class="banner-container">
          <img src="/assets/banner.png" alt="banner" />
          <div>
            <h1>Job</h1>
            <h1>Finder</h1>
          </div>
        </div>
      </main>

      <aside>
        <div class="form-container">
          <h3 id="page-title">Entrar</h3>

          <span>
            Não têm uma conta?
            <a href="/register">Criar conta!</a>
          </span>

          <form method="post" id="login-form" action="/sessions">
            <div class="form-group">
              <label for="email">E-mail</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Seu e-mail"
                title="Digite um email válido"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Senha</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Sua senha"
                minlength="6"
                title="Digite uma senha válida"
                required
              />
            </div>

            <button id="button-submit" type="submit">Entrar</button>
          </form>
        </div>
      </aside>
    </div>
  </body>
</html>
