<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar conta | Job Finder</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="auth-container">
      <main>
        <div class="banner-container">
          <img src="/assets/banner.png" alt="banner" />
          <div>
            <h1>Job</h1>
            <h1>Finder</h1>
          </div>
        </div>
      </main>

      <aside>
        <div class="form-container">
          <h3 id="page-title">Criar conta</h3>

          <span>
            Já têm uma conta?
            <a href="/login">Faça login!</a>
          </span>

          <form method="post" id="register-form" action="/users">
            <div class="form-group">
              <label for="name">Nome</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                placeholder="Seu nome"
                title="Digite o nome completo"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">E-mail</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Seu e-mail"
                min="6"
                title="Digite um email válido"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Senha</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Crie uma senha"
                minlength="6"
                title="Digite uma senha válida"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Repetir senha</label>
              <input
                type="password"
                class="form-control"
                name="confirm_password"
                id="confirm_password"
                placeholder="Confirme sua senha"
                minlength="6"
                title="Confirme a senha digitada"
                required
              />
            </div>

            <button id="button-submit" type="submit">Criar conta</button>
          </form>
        </div>
      </aside>
    </div>
    <script src="/lib/does-password-matches.js"></script>
  </body>
</html>
